<?xml version="1.0" encoding="UTF-8"?>
<configuracion><ipBD>127.0.0.1</ipBD><portBD>5555</portBD><smtp>smtp.gmail.com</smtp><puerto>587</puerto><desde>accionciudadana.gcba@gmail.com</desde><tls>true</tls><auth>true</auth><user>accionciudadana.gcba@gmail.com</user><password>accionciudadana12345678</password></configuracion>
