<?xml version="1.0" encoding="UTF-8"?>
<configuracion><ipBD>127.0.0.1</ipBD><portBD>5555</portBD><smtp>smtp.gmail.com</smtp><puerto>587</puerto><desde>accionciudadana.gcba@gmail.com</desde><tls>true</tls><auth>true</auth><user>accionciudadana.gcba@gmail.com</user><password></password><googleKey>ABQIAAAASNhk0DNhWwkPk0Y12RIrThTwM0brOpm-All5BF6PoaKBxRWWERRi58__PuwPgysGGKPkLxYHu8hULg</googleKey></configuracion>
