<?xml version="1.0" encoding="UTF-8"?>
<configuracion><ipBD>192.168.2.150</ipBD><portBD>5555</portBD><smtp>smtp.gmail.com</smtp><puerto>587</puerto><desde>accionciudadana.gcba@gmail.com</desde><tls>true</tls><auth>true</auth><user>accionciudadana.gcba@gmail.com</user><password></password><googleKey>ABQIAAAASNhk0DNhWwkPk0Y12RIrThTUI1iwuGnWyJEAl84lipl9B4EjcRRl64uqbYnCH_E4nms0pF-mFTpdVQ</googleKey></configuracion>
