actest/.classpath
actest/.project
actest/target/
webac/.classpath
webac/.project
webac/.settings/
webac/target/
wilsond/.classpath
wilsond/.project
wilsond/target/
andrac/target/
andrac/.classpath
andrac/.project
andrac/.settings/

