*.project*
*.classpath*
*.settings*
*/bin*
*/target*
*/gen*
*.metadata*
*repository.db*
*/log*
*.log*
*.log
*.tempImages*
*/tempImages*
*.png
*.png*
*.bmp
*.bmp*
*.gif
*.gif*
*.jpg
*.jpg*
*.jpeg
*.jpeg*
