@CHARSET "UTF-8";

form
{
   position: inherited;
   padding:2px;
   text-align:right;
   display: inline;
   
}

label
{
   padding:2px;
}

input,select{
   margin:10px 2px; 
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   
}

.observaciones{
	position: inherited;
   	padding:2px;
   	text-align:left;
   	margin-left: 340px;	

}

.uploader{
	margin-left: 200px;	
}