@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width:100%;
	overflow: auto;
	font-family: "Calibri", "Tahoma", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #f5f5f5;
	
}

.usuario{
	padding-right:20px; 
	float:right; 
	color: #FFB90F;
	margin: 5px;
}

.accionCiudadana {
	background: transparent url(/images/logoACWeb.jpg) 0 3px no-repeat;
	height: 80px;
	width: 114px;
}

.titleRow{
	background-color: #214977;	
}

.loginAndLogout{
	text-align: right;
	padding-right: 10px;
	font-size: 15px;
	color: #ffffff;
}


/******************NOTIFICACIONES****************************/
.error{
	color: red;
	border: medium none transparent;
	background-color: #F5F5F5;
	text-align: center;
}


/******************ACA EMPIEZA EL ESTILO DEL MENU*******************/
.menu {
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	font-size: 14px;

}

.menu ul {
	background: #333333;
	height: 35px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	float: left;
	padding: 0px;
}

.menu li a {
	background: #333333 url("/images/menu/seperator.gif") bottom right
		no-repeat;
	color: #cccccc;
	display: block;
	font-weight: normal;
	line-height: 35px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
}

.menu li a:hover,.menu ul li:hover a {
	background: #2580a2 url("/images/menu/hover.gif") bottom center no-repeat;
	color: #FFFFFF;
	text-decoration: none;
}

.menu li ul {
	background: #333333;
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 225px;
	z-index: 200;
	/*top:1em;
		/*left:0;*/
}

.menu li:hover ul {
	display: block;
}

.menu li li {
	background: url('/images/menu/sub_sep.gif') bottom left no-repeat;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 225px;
}

.menu li:hover li a {
	background: none;
}

.menu li ul a {
	display: block;
	height: 35px;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
}

.menu li ul a:hover,.menu li ul li:hover a {
	background: #2580a2 url('/images/menu/hover_sub.gif') center left no-repeat;
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}

.menu p {
	clear: left;
}

/******************ACA TERMINA EL ESTILO DEL MENU*******************/
