@CHARSET "UTF-8";

form
{
   position: inherited;
   padding:2px;
   display: inline;
   
}

label
{
   padding:2px;
   text-align:right;
   margin:10px 2px; 
   display: block;
   
}

.block{
   margin:10px 2px; 
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   display: block;
   text-align: left;
   
}


.filterTables{
	margin:10px 50px;
}

<!-- Agregado en estilos propios de inmethod-grid -->

td table.imxt-body {
    text-align: left;
}

table.imxt-head tr.imxt-columns th * {
    text-align: center;
}

