@CHARSET "UTF-8";

form
{
   position: inherited;
   padding:2px;
   display: inline;
   
}

label
{
   padding:2px;
   text-align:left;
}

.detalleBlock{
   margin:10px 2px; 
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   display: block;
   text-align: left;
}

td{
	text-align: right;	
}

.observaciones{
	width: 200px;

}

.contenedorImagen{
	width: 30em;	
}

.imagen{
	width: 30em; 
	height: 20em;	
	float: left;
    margin: 20px;
    width: auto;
}


.contenedorText{
	width: 30em; 
	height: 25em;	
}

.contenedorMapa{
	width: 0em;
}
