@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	overflow: auto;
	font-family: "Calibri", "Tahoma", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #f5f5f5;
	
}

.map{
	width: 60em;
	height: 45em;
	float: right;	
}