@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	overflow: auto;
	font-family: "Calibri", "Tahoma", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #f5f5f5;
	
}

.map{
	width: 700px;
	height: 500px;
	float: right;	
}

.gridAdmin{
	margin: 15px;
	width: 626px;
	height: 160px;
}

.right{
	float:right;
}

.left{
	float:left;	
}

h1{
	margin: 15px;
	width: 400px;	
}