@CHARSET "UTF-8";

label{
	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;
}

.login {
	text-align:center;
	padding-top: 75px;
	
}

.block{
   margin:10px 2px; 
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
   font-size: 15px;
}

input{
	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;	
}

.texto{
	text-align: right;	
}




