@CHARSET "UTF-8";

form
{
   position: inherited;
   padding:2px;
   display: inline;
   
}

label
{
    padding:2px;
    text-align:left;
    vertical-align: middle;
	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;
}

input{
	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;	
}

select{
	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;	
}

.block{
   margin:10px 2px; 
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
   font-size: 15px;
}

td.texto{
	text-align: right;	
}

.observaciones{
	position: absolute;
   	padding:2px;
   	text-align:left;
   	margin-left: 3%;	
}

.imageUploader{
	vertical-align: top;	
}

.imagen{
	width: 30em; 
	height: 20em;	
	/*float: right;*/
}

.contenedorImagen{
	width: 50em;	
}

.contenedorText{
	width: 30em; 
	height: 20em;	
}