@CHARSET "UTF-8";

form
{
   position: inherited;
   padding:2px;
   display: inline;
   
}

label
{
  	padding:2px;
   	text-align:left;
   	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;
}

input{
	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;	
}

.detalleBlock{
   margin:10px 2px; 
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
   font-size: 15px;
   display: block;
   text-align: left;
}

td{
	text-align: right;	
}