@CHARSET "UTF-8";

form
{
   position: inherited;
   padding:2px;
   display: inline;
   
}

label
{
   	padding:2px;
   	text-align:left;
   	vertical-align: middle;
	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;
}

input{
	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;	
}

.block{
   margin:10px 2px; 
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
   font-size: 15px;
}

td.texto{
	text-align: right;	
}

.input{
	width:250px;	
}

.dialogo{
	background-color: white;
	font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	border: 5px solid;
	border-color:#2580A8;
	display: block;
	text-align: center;
	padding: 30px;	
	border-radius: 10px;
}

.dialogo.atencion{
	border-color:#ff0000;
	background-color: white;
	color: #FF0000;
}