@CHARSET "UTF-8";

form
{
   position: inherited;
   padding:2px;
   display: inline;
   
}

label
{
   padding:2px;
   text-align:left;
   vertical-align: middle;
}

.block{
   margin:10px 2px; 
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
}

td.texto{
	text-align: right;	
}

.input{
	width:200px;	
}