/* THEMESMILE LOGIN FORM BY THEMESMILE 
 * http://www.themesmile.com/
 * Author: Mienard Lumaad
 * License: Free to use both for personal and commercial use and must keep this message intact.
 */

body { margin: 0; padding: 0; background: #032e40; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 21px; }

.mainwrapper { background: url(images/lightbg.png) no-repeat center -100px; width: 100%; height: 100%; position: absolute; }
.loginbox { width: 700px; min-height: 300px; margin: 40px auto; background: url(images/separator.png) no-repeat 300px center; color: #fff; }

.loginbox .left { float: left; margin-right: 4%; width: 48%; }
.loginbox img { margin: 70px 0 0 60px; }
.loginbox .right { float: left; width: 48%; }
.loginbox form { margin: 40px 0 0 10px; }

.loginform p { margin: 20px 0; }
.loginform label { display: block; color: #7aadc0; font-family: Georgia, "Times New Roman", Times, serif; }
.loginform input { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #666; }

.loginform .username, .loginform .password { -moz-box-shadow: inset 1px 1px 2px #666; -webkit-box-shadow: inset 1px 1px 2px #666; box-shadow: inset 1px 1px 2px #666; }
.loginform .username, .loginform .password { width: 250px; padding: 8px;  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #94bbca; }
.loginform .remember { color: #ccc; font-size: 15px; }
.loginform .remember .checkbox { margin: 0; vertical-align: middle; }
.loginform .submitbutton { float: right; margin-right: 55px; }

.loginform .notify { background: #365e6e; padding: 5px 0; text-align: center; font-family: Georgia, "Times New Roman", Times, serif; font-size: 15px; color: #fedfb3; }
.loginform .notify { font-style: italic; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-right: 55px; }

.loginform .notify { display: none; }