@CHARSET "UTF-8";

form
{
   position: inherited;
   padding:2px;
   display: inline;
   
}

label
{
    padding:2px;
    text-align:right;
    margin:10px 2px; 
    display: block;
	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;
   
}

input{
	font-family: "Trebuchet MS",Geneva,Arial,Helvetica,sans-serif;
	font-size: 15px;	
}

.block{
   margin:10px 2px; 
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
   font-size: 15px;
   display: block;
   text-align: left;
   
}

.grid{
	width: 90%; 
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;	
}

.dialogo{
	background-color: white;
	font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	border: 5px solid;
	border-color:#2580A8;
	display: block;
	text-align: center;
	padding: 30px;	
	border-radius: 10px;
}

.dialogo.atencion{
	border-color:#ff0000;
	background-color: white;
	color: #FF0000;
}

<!-- Agregado en estilos propios de inmethod-grid -->

td table.imxt-body {
    text-align: left;
}

table.imxt-head tr.imxt-columns th * {
    text-align: center;
}