<<<<<<< HEAD
div.box label {
	display: block;
	margin-bottom: 10px;
	color: #555555;
}

div.box label span {
	display: block;
	float: left;
	padding-right: 6px;
	width: 150px;
	text-align: right;
}

div.box .button {
	margin: 0 0 10px 0;
	padding: 4px 7px;
	border: 0px;
	position: relative;
	top: 10px;
	left: 382px;
	width: 100px;
	
	
=======
@CHARSET "UTF-8";

form
{
   position: inherited;
   padding:2px;
   display: inline;
   
}

label
{
   padding:2px;
   text-align:right;
   margin:10px 2px; 
   display: block;
   
}

.block{
   margin:10px 2px; 
   font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
   font-size: 15px;
   display: block;
   text-align: left;
   
}

.grid{
	width: 90%; 
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;	
}

.dialogo{
	background-color: white;
	font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	border: 5px solid;
	border-color:#2580A8;
	display: block;
	text-align: center;
	padding: 30px;	
	border-radius: 10px;
}

<!-- Agregado en estilos propios de inmethod-grid -->

td table.imxt-body {
    text-align: left;
}

table.imxt-head tr.imxt-columns th * {
    text-align: center;
>>>>>>> mati/master
}