


.recuadro{
	padding-left: 50px;
	padding-top: 50px;
}


.tabla{
	display: table;
}

.cell{
	display: table-cell;
}

.cell .left{
	text-align: right;
	color: red;
}

.cell .right{
	float: right;
}

.row{
	display: table-row;
}

