div.box label {
	display: block;
	margin-bottom: 10px;
	color: #555555;
}

div.box label span {
	display: block;
	float: left;
	padding-right: 6px;
	width: 150px;
	text-align: right;
}

div.box .button {
	margin: 0 0 10px 0;
	padding: 4px 7px;
	border: 0px;
	position: relative;
	top: 10px;
	left: 382px;
	width: 100px;
	
	
}